@import './partials/variables';
@import './partials/mixin';
@import './partials/extensions';
@import 'layout';

// table Allow User
#allow-user {
  input:checked + .ms-switch-slider.ms-switch-warning {
    background: #ff4c01;
    border-color: #ff4c01;
  }
}

// lock screen
.ms-lock-screen {
  .has-icon {
    @extend %posRelative;
    .screen-logout-icon {
      @extend %posAbsolute;
      top: 10px;
      right: 10px;
    }
  }
}

// login
.login {
  .mb-2 {
    @extend %posRelative;
    input {
      padding-right: 33px;
    }
    #password-icon-btn {
      cursor: pointer;
      @extend %posAbsolute;
      top: 10px;
      right: 10px;
      z-index: 3;
    }
  }
}

// register
.register {
  #validationCustom05 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
<<<<<<< Updated upstream
=======

.testing-detail {
  .btn-danger {
    background-color: #db3c36;
    border-color: #db3c36;
  }
}
.ms-chat-conversations {
  .ms-panel-body {
    .ms-chat-message {
      &.ms-chat-outgoing,
      &.ms-chat-incoming {
        p {
          color: var(--white);
          &.reject {
            background-color: #db3c36;
          }
          &.approved {
            background-color: #00e609;
          }
        }
      }
      &.ms-chat-incoming {
        .ms-chat-text {
          p {
            &.reject {
              &:after {
                border-right-color: #db3c36;
              }
            }
            &.approved {
              &:after {
                border-right-color: #00e609;
              }
            }
          }
        }
      }
      &.ms-chat-outgoing {
        .ms-chat-text {
          p {
            &.reject {
              &:after {
                border-left-color: #db3c36;
              }
            }
            &.approved {
              &:after {
                border-left-color: #00e609;
              }
            }
          }
        }
      }
    }
  }
}
>>>>>>> Stashed changes
